@charset "utf-8";
.spm_infobox {width:100%;
				font-size:90%;
				border:1px solid #aaaaaa;
				background-color:#f9f9f9;
				color:black;
				margin-bottom:0.5em;
				margin-bottom:0.5em;
				padding:0.2em;
				float:right;
				clear:right;
				text-align:left;
}
.spm_l_infobox {width:100%;
				font-size:90%;
				border:1px solid #aaaaaa;
				background-color:#f9f9f9;
				color:black;
				margin-bottom:0.5em;
				margin-bottom:0.5em;
				padding:0.2em;
				text-align:left;
}

.spm_infobox_header {text-align:center;
				background-color:SkyBlue;
				font-size:large;
}

#spm_wf_main_container {
				padding: 5px;
				background-color: #F9F9F9;
				border: 1px solid #AAAAAA;
}

#spm_wf_toolbar_container {
				margin-bottom: 3px;
}

#Current_widget {
				font-weight: normal;
				font-size: 188%;
}
