@charset "utf-8";

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

a{ cursor:pointer;color:#002BB8;text-decoration:none; }

.spm_wf_h2 {
	}
.spm_wf_table {
	width:30em;
	font-size:90%;
	border:1px solid #aaaaaa; 
	background-color:#f9f9f9;
	color:black;
	margin-bottom:0.5em;
	margin-bottom:0.5em;
	padding:0.2em;
	clear:right;
	text-align:left;
	}

.spm_wf_table textarea {
	border:1px solid #ccc; 
	width:455px; 
	height:100px; 
	padding:5px;
	}
.spm_wf_multi_val {
	width:335px !important;
	}
.spm_wf_err {
	border:2px solid #FF0000;
}


/* tooltip styling */
.tooltip {
	display:none;
	background:url(black_arrow_big.png);
	height:163px;
	padding:30px 30px 10px 30px;
	width:310px;
	font-size:11px;
	color:#fff;
}
/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}
.tooltip p {
	color:white;
	padding-bottom:0px;
}
.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}
.tooltip.bottom {
	background:url(black_arrow_bottom.png);
	padding:50px 30px 10px 30px;
}

.spm_wf_formfldsmpl {
	background: none repeat scroll 0 0 white;
}

.spm_submit {
        font-size: x-large;
}

#ui-datepicker-div {
        display:none;
}
