body {
	min-width: 1100px;
}

#header a{
	color: #F0D8B8;
	text-decoration: none;
}

ul{list-style-type:none}

/*----Body Left Panel----*/
#leftPan {
	 border-right: medium solid;
}

#leftPan h2 a {
	height:34px; 
	background:#fff; 
	color:black; 
	font-size:18px; 
	text-decoration: none;
}

#leftPan h2{
	margin:5px;
}
 
#leftPan ul {
	margin:5px;
  padding: 0 0 0 5px;
}

#leftPan ul li{height:24px;}
#leftPan ul li a{\height:24px; display:block; background:url(images/bullet2-normal.gif) 0 10px no-repeat #fff; color:black; text-decoration:none; line-height:24px; padding:0 0 0 12px;}
#leftPan ul li a:hover{background:url(images/bullet2-hover.gif) 0 10px no-repeat #fff; color:black; text-decoration:none;}


/*----/Body Left Panel----*/
/*----Body Right Panel----*/
#rightPan img{
	 border: medium dotted lightBlue;
	 max-width: 800px;
	 margin: 0 0 10px 0;
}

#rightPan h1{
	 font-size: 22px;
}

#rightPan h2{
	 font-size: 18px;
}

#rightPan p{
	margin: 2px;
}
/*----/Body Right Panel----*/